.infoBox {
  flex: 1;
  background-color: #040c2c;
}

.infoBox:not(:last-child) {
  background-color: #040c2c;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 3px;
}

.infoBox:last-child {
  background-color: #040c2c;
  border-radius: 20px;
  padding: 10px 3px;
}

.infoBox--selected {
  border-top: 10px solid rgb(6, 175, 6);
}

.infoBox--red {
  border-color: rgb(201, 6, 6);
}

.infoBox--orange {
  border-color: orange;
}

.infoBox__cases--green {
  color: rgb(6, 175, 6) !important;
}

.infoBox__cases--orange {
  color: rgb(255, 115, 0) !important;
}

.infoBox__cases {
  color: red;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: orange;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox__title{
  color: yellow;
}
